/*================================================
|                 Home block                     |
================================================*/

.home {
	position: relative;
	background-image: url(../img/bg.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	
	width: 100vw;
	height: 100vh;

	&:before {
		@extend .before;
		background-color: #000;
		opacity: 0.5;
	}
}

.top-line {	
	vertical-align: middle;
	line-height: 36px;
	padding-top: 44px;

	@include MQ(S) {
		padding-top: 25px;
	}
}

.logo {
	padding: 10px 10px 10px 0;

	@include MQ(S) {
		& img {
			width: 70px;
		}
	}
	
.toggle-menu {
	font-size: 28px;
	color: $color-3*0.9;
	text-align: left;

	&:hover {
		color: $color-3*1.5;
	}
}

// sidebar navigation start 

.navigation-sidebar {
	position: absolute;
	top: 0;
	left: 0;
	min-width: 20%;
	height: 100vh;
	z-index: 22;
	overflow: hidden;
	background-color: #16151d;
	color: #524c48;
	font-size: 15px;
	text-transform: uppercase;

	transform: translateX(-100%);
	transition: transform 0.2s ease-in-out;

	@media only screen and (max-width: 992px)  {
		width: 320px;
	}
}

.navigation-sidebar__header {
	display: block;
	position: relative;
	top: 0;
	z-index: 22;
	width: 100%;
	height: 77px;
	background-color: #16151d;
	border-bottom: 1px solid #524c48*0.9;
	box-shadow: 0 0 15px rgba(82, 76, 72, 1);
	color: #524c48;
	font-size: 22px;
}

.navigation-sidebar__top {
	height: 77px;
}

.navigation-sidebar__close {
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 10%;
	margin-top: -14px;
	width: 36px;
	height: 28px;
	line-height: 18px;
	vertical-align: middle;

	.close-line {
		display: inline-block;		
		width: 35px;
		height: 4px;

		&:before,
		&:after {
			content: '';
			display: block;
			position: absolute;
			background-color: #524c48*2;
			height: 4px;
			width: 35px;
			transform: rotate(-45deg);
			transition: transform 0.3s ease-out;
		}

		&:after {
			transform: rotate(45deg);
		}		
	}

	&:hover .close-line:before,
	&:hover .close-line:after {
		transform: rotate(0deg);
	}	
}

.navigation-sidebar__lists {
	position: relative;
	width: 100%;
}

.navigation-sidebar__list {
	position: absolute;
	top: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	list-style: none;
	overflow-scroling: touch;	
}

.navigation-sidebar__item {
	height: 70px;
	width: 100%;
	padding-left: 10%;
	padding-right: 10%;
	border-bottom: 1px solid #524c48*0.9;
	transition: 0.3s all;

	&:hover {
		background: #16151d*0.7;
		padding-left: 12%;
		transition: 0.3s all;
	}
}

.navigation-sidebar__link {
	position: relative;
	display: block;
	padding: 11px 0;
	color: $color-2;
	font-size: 18px;	
}

// sidebar navigation end

.header-wrapper{
	position: relative;	
	margin-top: 12%;
	text-align: center;

	@include MQ(M) {
		margin-top: 8%;		
	}

	span {
		margin-bottom: 50px;
		font-size: 40px;
		text-transform: capitalize;
		color: $color-4;

		@include MQ(M) {
			font-size: 28px;		
		}

		@include MQ(XS) {
			font-size: 22px;					
		}
	}

	h1 {
		margin-bottom: 59px;

		@include MQ(M) {
			font-size: 52px;		
		}

		@include MQ(XS) {
			font-size: 38px;
			margin-top: 20%;
			margin-bottom: 50%;		
		}
	}

	button {
		@extend .buttons;
	}
}

