/*   font colors   */

$color-1: #222;         // Very dark gray (mostly black).
$color-2: #777;         // Dark gray.
$color-3: #fed136;      // Bright yellow.
$color-4: #fff;         // Wight


/*   beckground colors  */

$bg-color-1: #f7f7f7;   // Very light gray (mostly white).
$bg-color-2: #fff;      // Wight
